<a href="https://colab.research.google.com/github/kushagrathisside/Learning/blob/master/Med_Utkarsh_Optum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing libraries and dataset

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df=pd.read_csv("healthcare.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,health_bills
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,6011.859799
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,NaN
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,6384.529754
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,5862.753890
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,5461.261600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,NaN
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,3898.268738
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,2769.483453
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,3187.680142
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,2711.096768

# Preprocessing the dataset
1. Looking for NULL values
2. Encoding values

### 1. Checking for NULL values

In [32]:
df.nunique()

id                   5110
gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
health_bills         4909
dtype: int64

In [33]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
health_bills         201
dtype: int64

In [34]:
df.dropna(axis=0, how="any",inplace=True)

In [35]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
health_bills         0
dtype: int64

All rows with NULL values removed.

### 2. Checking for types of values present in different columns:

In [36]:
print("Values present in: \n")
print("Gender:",df["gender"].unique())
print("HyperTension:",df["hypertension"].unique())
print("Heart Disease:",df["heart_disease"].unique())
print("Ever Married:",df["ever_married"].unique())
print("Work Type:",df["work_type"].unique())
print("Residence Type:",df["Residence_type"].unique())
print("Smoking Status:",df["smoking_status"].unique())
print("Stroke:",df["stroke"].unique())

Values present in:

Gender: ['Male' 'Female' 'Other']
HyperTension: [0 1]
Heart Disease: [1 0]
Ever Married: ['Yes' 'No']
Work Type: ['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
Residence Type: ['Urban' 'Rural']
Smoking Status: ['formerly smoked' 'never smoked' 'smokes' 'Unknown']
Stroke: [1 0]

## Result:

**Binary Values in:** hypertension, heart_disease, stroke

**Binary Encoder needed in:** ever_married, Residence_type

**Label Encoder needed in:** gender, work_type, smoking_status

In [37]:
df['ever_married'] = df['ever_married'].apply(
    lambda x: 1 if x == 'Yes' else (0 if x == 'No' else None))
print("Ever Married:",df["ever_married"].unique())

Ever Married: [1 0]

In [39]:
df['Residence_type'] = df['Residence_type'].apply(
    lambda x: 1 if x == 'Urban' else (0 if x == 'Rural' else None))
print("Residence_type:",df["Residence_type"].unique())

Residence_type: [1 0]

In [38]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()